@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Orbitron:wght@400..900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

:root{
    --bg-body-black: #2e2e2e;
    --bg-body: #dfdfdfe1;
    --bg-color-nav2: #9882ee;
    --bg-color-nav: #cdc1ff;
    --violet: #8a31ff;
    --pink: #a910d8;
    --electric-blue: #0e23dd;
    --white-text: #fff;


    --bg-black: black;
    --bg-gradient: linear-gradient(var(--electric-blue), var(--violet), var(--pink));
    --bg-gradient-right:linear-gradient(to right, black, var(--pink));
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Merriweather", serif;

    /* border: 1px solid rgb(12, 197, 83); */
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    background: var(--bg-body-black);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-black);
    width: 100%;
    position: fixed;
    padding: 0 30px;
    height: 65px;
    z-index: 10;
}

.logo, .menu-label, .menu-label img{
    height: 100%;
    height: 40px;
}

.menu-label img{
    height: 100%
}

.menu-label, #menu-toggle{
    display: none;
}

.navbar,
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    gap: 150px;
    height: 70px;
    display: flex;
}

.navbar-list{
    gap: 30px;
    font-weight: bolder;
    font-style: normal;
}

.navbar-list a{
    font-size: 14px;
    color: black;
    color: white;
}

.logo{
    height: 90%;
    height: 50px;
}


/* hero */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    padding: 10px;
}

section{
    background: var(--bg-gradient);
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px;
}

.title-section{
    font-size: 15px;
}

.hero{
    margin-top: 70px;
    gap: 20px;
    background: var(--bg-gradient);
    padding: 20px;
    max-width: 1200px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 30px;
    width: 40%;
}

.hero-info h1{
    font-size: 50px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
    /*background: linear-gradient(black, var(--white-text) ,var(--pink));*/
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--white-text);
    animation: slide 2s linear, fade 2s  linear;
}

.hero img{
    animation: fade 4s linear;
    width: 60%;
    border-radius: 20px;
}

.hero-info p{
    font-size: 18px;
    color: var(--white-text);
    animation: fade 8s  linear;
}

.container-button{
    display: flex;
    gap: 30px;
    animation: fade 8s  linear;
}

.button{
    border: 2px solid black;
    padding: 15px;
    border-radius: 20px;
    background: #201ddf;
    color: var(--white-text);
    text-align: center;
}


/* Info */

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: var(--bg-gradient);
    padding: 20px;
    max-width: 1200px;
}

.description-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.description-container p{
    color: var(--white-text);
    font-size: 18px;
    width: 50%;
}

.info h2{
    text-align: center;
    color: var(--white-text);
    font-size: 30px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
}

.info-cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
}


.info-card img{
    width: 100%;
    border-radius: 10px;
}


/* Products */

#products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cards-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#products h2{
    text-align: center;
    color: var(--white-text);
    font-size: 30px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    width: 35%;
    background: #3329cc;
}

.card .img-container{
    max-width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.card h3{
    text-align: center;
    color: white;
}

.card p{
    text-align: center;
    color: white;
}


/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: var(--bg-gradient);
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.contact h2{
    text-align: center;
    color: var(--white-text);
    font-size: 30px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
}


.info-empresa{
    display: flex;
    gap: 20px;
}

.info-list{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

.info-item{
    padding: 10px;
    display: flex;
    gap: 10px;
    color: white;
}

.info-item i, .info-item p{
    color: white;
}

.list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}


.social-networks{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.networks{
    font-size: 25px;
    color: white;
}

.info-empresa img{
    border-radius: 10px;
    width: 60%;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: var(--bg-black);
}

footer img{
    height: 40px;
}